body{
    background: #2C343F;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url('ARLRDBD_0.TTF') format('truetype');
}

p{
    text-align: center;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

h1{
    text-align: left;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 40px;
    color: white;
    margin: 0;
}

h2{
    text-align: center;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 20px;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #14171C;
    padding: 10px 20px;
    height: 60px;
}

input[type="text"] {
    padding: 7px;
    margin-right: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font: 15px Geneva;
    width: 200px;
}

button {
    padding: 8px 16px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #2C343F; 
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 15px;
    width: 100%
}

.header-left {
    display: flex;
    margin: 0;
    font-size: 40px;
    align-items: center;
    text-decoration:none;
    cursor: pointer;
    flex-grow: 0;
}

.header-left a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header-right {
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.header-links{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 15px;
}

.header-link {
    margin-right: 20px;
    text-decoration: none;
    color: white; 
    font-size: 16px; 
    padding: 8px 12px;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .header-links {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-right {
        display: none;
    }
}

.header-links:focus {
    outline: none;  
}


.main-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30px auto;
    justify-content: space-around;
    background-color: #29292b;
    padding: 20px;
}

.search-title {
    align-self: center;
    margin-left: 15px;
    color: white;
    font-size: 22px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    
}

.watchlist-title{
    margin-left: 15px;
    align-self: center;
    color: white;
    font-size: 22px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
}


.search-results {
    display: flex;
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #14171C;
    color: white;
    border-radius: 8px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 15px;
}

.watchlist {
    display: flex;
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #14171C;
    color: white;
    border-radius: 8px;
    flex-direction: column;
    
}

#movieContainer, #watchlistContainer {
    background-color: #2C343F;
    border-radius: 5px;
    padding: 10px;
    
}

.note-logo {
    width: 90px;
    height: 90px;
    margin-right: 5px;
}

#movie_display img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

#addRemoveButton {
    width: 30%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 18px;
}

#logoutbutton {
    margin-right: 10px;
}