body{
    background: #2C343F;
    margin: 0;
    padding: 0;
}

p{
    padding: 20px;
    text-align: center;
    color: white;
}

h1{
    text-align: left;
    font: 40px Arial Rounded MT Bold;
    color: white;
    margin: 0;
}

h2{
    text-align: center;
    font: 20px Arial Rounded MT Bold;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #14171C;
    padding: 10px 20px;
}

input[type="text"] {
    padding: 7px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font: 13px Geneva;
}

button {
    padding: 8px 16px;
    background-color: #2C343F; 
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font: 13px Geneva;
}

.header-left {
    display: flex;
    margin: 0;
    font-size: 40px;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.main-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30px auto;
    justify-content: space-around;
    background-color: #29292b;
    padding: 20px;
}

.search-title {
    align-self: center;
    color: white;
    font-size: 20px;
    
}

.watchlist-title{
    align-self: center;
    color: white;
    font-size: 20px;

}

.search-results {
    display: flex;
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #14171C;
    color: white;
    border-radius: 8px;
}

.watchlist {
    display: flex;
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #14171C;
    color: white;
    border-radius: 8px;
    flex-direction: column;

}

#movieContainer, #watchlistContainer {
    background-color: #2C343F;
    border-radius: 5px;
    padding: 10px;
}

.note-logo {
    width: 90px;
    height: 90px;
    margin-right: 5px;
}