body{
    background: #2C343F;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url('ARLRDBD_0.TTF') format('truetype');
}

p{
    text-align: center;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 15px;
    color: white;
}

h1{
    text-align: center;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 40px;
    color: white;
    margin: 0;
}

h2{
    text-align: center;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 25px;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #14171C;
    padding: 10px 20px;
    height: 60px;
}

button {
    padding: 8px 16px;
    background-color: #2C343F; 
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 15px;
    width: 100%
}

.button-sign-in{
    display: flex;
    align-items: center;  
    justify-content: center;  
    color: white;
    text-decoration: none;  
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 15px;
}

.header-left {
    display: flex;
    margin: 0;
    font-size: 40px;
    align-items: center;
    text-decoration:none;
    cursor: pointer;
    flex-grow: 0;
}

.header-left a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header-right {
    display: flex;
    align-items: center;
}

.note-logo {
    width: 90px;
    height: 90px;
    margin-right: 5px;
}

.login-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 16px;
}

.login-form{
    padding:20px;
    background-color: white;
    border-radius: 5px;
    width: 40%;
    max-width: 300px;
}

.login-form input[type="text"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

.to-sign-in{
    display:flex;
    justify-content: center;
    align-items:baseline
}

#sign-in{
    width: 100px;
    height: 45px;
    margin-left: 20px;
    background-color: white;
    color:#14171C;
}