<!DOCTYPE html>
<html lang = "en-US">
<head>
    <meta charset="utf-8">
    <title>Noteboxd</title>
    <link rel="stylesheet" type="text/css" href="main.component.css">
    <script src="main.component.js"></script>
</head>
<body>

<header>
    <div class = "header-left">
        <img src="comp426-final-project\src\app\logo.png" alt="logo" class="note-logo">
        <h1>Noteboxd</h1>
    </div>
    <div class = "header-right">
        <input type = "text" id = "searchInput" placeholder = "Search movies...">
        <button onclick = "console.log('clicked')">Search</button>
    </div>
</header>

<p>What should we watch?</p>
<br>

<div class="main-container">
  <div class = "search-title">
    Search Results
  </div>

  <div class = "watchlist-title">
    My Watchlist
  </div>

  <div class="search-results">
    Search Results
  </div>
    
  <div class="watchlist">
      <button onclick = "console.log('clicked')">
        Movie1
      </button>
      <button onclick = "console.log('clicked')">
        Movie2
      </button>
      <button onclick = "console.log('clicked')">
        Movie3
      </button>
  </div>

</div>


</body>
</html>