<!DOCTYPE html>
<html lang = "en-US">
<head>
    <meta charset="utf-8">
    <title>Noteboxd</title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
</head>
<body>

<header>
    <div class = "header-left">
        <img src="comp426-final-project\src\app\logo.png" alt="logo" class="note-logo">
        <h1>Noteboxd</h1>
    </div>
</header>

<p>Please log in.</p>
<br>

<div class="main-container">
  
    <div class = "login-label">
    Username: 
    </div>

    <input type="text" class = "username">

    <div class = "login-label">
        Password: 
        </div>
    
    <input type="text" class = "password">

</div>

</body>
</html>